@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@font-face {
  font-family: 'Roboto';
  src: url('../src/Assets//Font/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-thin';
  src: url('../src/Assets//Font/ROBOTO-THIN.TTF') format('truetype');
}
@font-face {
  font-family: 'Roboto-light';
  src: url('../src/Assets//Font/ROBOTO-LIGHT.TTF') format('truetype');
}
body {
  margin: 0;
  font-family: "Roboto", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,27,121,1) 50%, rgba(22,64,214,1) 100%);
}

.font-thin {
  font-family: "Roboto-thin", serif !important;
  font-weight: bold;
}

.font-light {
  font-family: "Roboto-light", serif !important;
}