html {
  --section-background-color: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,27,121,1) 30%, rgba(0,31,142,1) 73%, rgba(0,27,121,1) 100%);

  --image-gradient: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,27,121,1) 30%, rgba(0,31,142,1) 73%, rgba(0,27,121,1) 100%);

  --imp-text-color: #EF3F70
}

.purple {
  color: var(--imp-text-color) !important;
}
.cyan {
  color: #D2FAFB !important
}
button:focus {
  box-shadow: none !important;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #181a27;
  background-image: url(./Assets/Loading.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #001B79  ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1640D6;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1640D6;
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;  
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #EF3F70 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
  
  #img-b {
    display: none;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: auto !important;
  width: 7em !important;
  transition: all 0.7s ease-in-out;
}


.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 2rem;
  display: flex;
  cursor: pointer !important;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: var(--imp-text-color);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/*--------Skill Bar---------*/
.skillbar-title{
  font-size: 15px;
}

.skillbar-percent{
  display: none;

}

/* --------- */
/* Home section */
/* --------- */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}



#home {
  height: 100vh;
}

.home-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center; /* Căn giữa nội dung theo chiều ngang */
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  height: 100vh;
  transition: all 0.5s ease-in-out;
  &.hide {
    opacity: 0;
  }
}

.home-header {
  opacity: 1;
  text-align: center;
  z-index: 11;
  transition: opacity 0.5s;//, transform 0.5s;
  img {
    opacity: 1;
    width: 300px;
    max-width: 70%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .hide {
    opacity: 0;
    //transform: translate(-30rem, -10rem); /* Điều chỉnh vị trí xuất phát của phần tử */
  }
  .home-title {
    position: relative !important;
    color: #D6EEF0;
    font-size: 6rem;
    font-weight: 400;
    text-align: left !important;
    margin: 0;
    z-index: 1;

    &.title {
      font-size: 9rem;
      font-weight: bolder;
    }

    &.behind{
      z-index: -99 !important;
    }
  }
}

.home-section {
  position: relative;
  z-index: -1;
  background-image: var(--image-gradient), url(./Assets/home-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 2rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

.main-name {
  color: var(--imp-text-color);
}

.Typewriter {
  text-align: left !important;
  letter-spacing: 0.2rem;
  font-weight: 100 !important;
  position: absolute;
  right: 20%;
  z-index: 999 !important;
}

.Typewriter__wrapper {
  position: relative;
  font-size: 2.5em !important;
  color: #D2FAFB !important;
  font-weight: lighter !important;
  z-index: 1;
}
.Typewriter__cursor {
  font-size: 1,5em !important;
  color: #D2FAFB !important;
}

@media (max-width: 767px) {
  .Typewriter {
    display: none;
  }
  .home-title {
    font-size: 5.5em !important
  }
  .title{
    font-size: 7.5rem !important;
  }
}

.myAvtar {
  justify-content: center !important;
  padding-top: 4em !important;
  transition: all 0.5s ease-in-out;
  &.left-hide {
    opacity: 0;
    transform: translate(-50px, 0px);
  }
  &.right-hide {
    opacity: 0;
    transform: translate(50px, 0px);
  }
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
  .home-header .home-title.behind {
    z-index: 1 !important;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
  transition: background-color 0.5s ease-in;
}

.alt-section {
  background: linear-gradient(213deg, rgba(255,255,255,0.1) 0%, rgba(100,99,101,0.4) 100%);
  backdrop-filter: blur(1px);
  padding-left: 0px;
  padding-right: 0px;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: left !important;
  opacity: 1;
  transition: opacity 0.7s ease-in, transform 1s;
  position: static;
  &.left-hide {
    opacity: 0;
    transform: translate(-50px, 0px); /* Điều chỉnh vị trí xuất phát của phần tử */
  }
  &.right-hide {
    opacity: 0;
    transform: translate(50px, 0px); /* Điều chỉnh vị trí xuất phát của phần tử */
  }
  .home-button{
    border-radius: 25px;
    margin-top: 12px;
    padding: 10px 15px !important;
  }
  .home-about-title{
    font-size: 2em;
    letter-spacing: .2rem;
    p {
      letter-spacing: .5rem;
    }
    &.title-right {
      text-align: right;
    }
  }
  .home-do{
    padding: 10px 0px;
  }
}

.home-about-body {
  padding-top: 20px;
  font-size: 2.2em !important;
  text-align: left;
  margin-bottom: 0px !important;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}


.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-contact-section{
  background-color: rgba(214,238,240,0.6);
  backdrop-filter: (blur(1px));
}

.home-contact-social {
  text-align: center !important;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #001B79 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 50px !important;
  height: 50px !important;
  text-align: center !important;
  font-size: 1.5em !important;
  line-height: 2em !important;
  background: #1640D6 !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #D2FAFB;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #D2FAFB;
}

.home-social-icons:hover {
  color: var(--imp-text-color);
  box-shadow: 0 0 5px var(--imp-text-color);
  text-shadow: 0 0 2px var(--imp-text-color);
}

.contact{
  margin-top: 3rem !important;
}

.corner {
  background-size: cover !important;
  position: fixed;
  pointer-events: none;
  z-index: -1;
  height: 50%;
  width:33%;
}

.bg-img {
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  &.hide {
    opacity: 0;
  }
}

.moon{
  position: absolute;
  background: url(./Assets/Background/vongtron.svg) no-repeat bottom;
  background-size: contain !important;
  bottom: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
  height: 45%;
  width: 85%;
}

.myimg{
  position: absolute;
  background: url(./Assets/Background/me.png) no-repeat bottom;
  background-size: contain !important;
  bottom: 0;
  right: 0;
  opacity: 1;
  z-index: 0;
  height: 80%;
  width: 100%;
}


.cloud-left{
  z-index: -1;
  background: url(./Assets/Background/Group-21.png) no-repeat right top;
  bottom: 0;
  left: -18%;
  width: 37% !important;
  opacity: 1;
  transition: opacity 0.5s ease-in, transform 0.5s;
  &.hide {
    opacity: 0.2;
    transform: translate(-5rem, 0px);
  }
}

.cloud-right{
  z-index: -1;
  background: url(./Assets/Background/Group-22.png) no-repeat left top;
  top: 20%;
  right: -18%;
  width: 37% !important;
  opacity: 1;
  transition: opacity 0.5s ease-in, transform 0.5s;
  &.hide {
    opacity: 0.2;
    transform: translate(5rem, 0px);
  }
}

#lead-down{
  position:absolute;
  left:0;
  right:0;
  text-align:center;
}

#lead-up{
  position:fixed;
  right:2%;
  bottom: 4%;
  text-align:right;
  opacity: 0;
}

.bounce {
  cursor:pointer;
  width:100%;
  animation: bounce 2s infinite;
  transition: opacity 0.5s ease-out;
  z-index:10;
  bottom:15px;
  color:white;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: white !important;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}
.footer-copywright {
  text-align: center !important;
  font-weight: 200 !important;

}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}
/* --------- */
/* Projects */
/* --------- */
.project-section {
  position: relative !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  // &.hide{
  //   opacity: 0;
  //   transform: translate(0px, 50px);
  // }
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.card {
  border: 0px !important;
}

.project-card-view {
  box-shadow: 7px -6px 14px -2px rgba(38,41,46,0.87);
  -webkit-box-shadow: 7px -6px 14px -2px rgba(38,41,46,0.87);
  -moz-box-shadow: 7px -6px 14px -2px rgba(38,41,46,0.87);
  color: white !important;
  background-color: rgba(147, 138, 138, 0.42) !important;
  backdrop-filter: blur(5px);
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  border-radius: 5px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.5s ;
  .cards-content{
    opacity: 0;
    transition: opacity 0.5s ;
  }
}
.project-card-view:hover {
  overflow: hidden !important;
  .cards-content{
    background-color: rgba(0,0,0,0.6);
    opacity: 1;
  }
}
.project-container{
  padding: 10px !important;
}
.blog-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.blog-card-view {
  background-color: transparent !important;
  box-shadow: 0 3px 3px 2px rgba(145, 77, 161, 0.459) !important;
  color: white !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.blog-link {
  color: white !important;
  text-decoration: none !important;
}

.blog-link:hover {
  cursor: pointer !important;
}

.blog-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 3px 3px 5px rgba(155, 88, 173, 0.65) !important;
}

.card-header{
  padding: 0px !important;
  font-size: 2rem;
}

.card-body {
  padding: 0rem !important;
  width: 75%;
  opacity: 0;
}

.card-img-top {
  padding: 0px !important;
}

.blog-img {
  padding: 0px !important;
  opacity: 0.8 !important;
  border-radius: 0px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: var(--imp-text-color) !important;
  border-color: var(--imp-text-color) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #d41148 !important;
  border-color: #d41148 !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
  margin-top: 1em;
}
.project-section-title{
  margin: 1em !important;
}
.project-title {
  text-align: left;
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
  &.center{
    text-align: center !important;
    padding-top: 0px !important;
    margin-top: 0.5em;
  }
}
.project-subtitle {
  text-align: center !important;
}
.project-section-intro{
  margin: auto !important;
  padding-bottom: 2em;
  text-align: justify;
  width: 30%;
  color: white;
}
.project-section-subtitle{
  text-transform: uppercase;
  color: #D2FAFB;
}
.project-author{
  font-weight: thin;
}
/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 20px !important;
  display: table !important;
  background-color: rgba($color: whitesmoke, $alpha: 0.2);
  box-shadow: 7px -8px 10px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 7px -8px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 7px -8px 10px 0px rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 0.5px solid var(--imp-text-color) !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}
/* --------- */
/* Resume */
/* --------- */

.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px !important;
}

.resume-right {
  padding-left: 80px !important;
}

@media (max-width: 767px) {
  .resume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.resume .resume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .resume-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid var(--imp-text-color);
  position: relative;
}

.resume .resume-item .resume-title {
  line-height: 18px;
  font-size: 0.9em;
  background: #5234795d;
  padding: 8px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
  text-align: justify;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  list-style: none;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #8a49a8;
}

.like-item {
  padding-top: 10px !important;
  font-size: 1.1em !important;
  font-family: sans-serif !important;
}

.like-btn {
  background-color: #934cce5e !important;
  border-color: #934cce5e !important;
  padding: 0.25rem 0.98rem !important;
  border-radius: 5px !important;
  line-height: 1.4 !important;
  transition: 0.3s ease !important;
}

.like-btn:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}

.animate-like {
  animation-name: likeAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
}
@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: #934cce5e !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: #a24dd386 !important;
  border-color: #a24dd386 !important;
}
.fork-btn-inner::after {
  display: none !important;
}

//=======Experience=============
.vertical-timeline-element-date {
  text-align: center !important;
}
.vertical-timeline-element-content {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.vertical-timeline-element-content:hover {
  transform: scale(1.02);
}

.btn-outline-light {
  margin-left: 20px !important;
  border: 0px !important;
  border-radius: 10px !important;
  &:hover{
    color: #FE346E !important;
  }
}

.btn-check:checked+.btn-outline-light {
  background-color: #D2FAFB !important;
  border: 0px !important;
  color: #FE346E !important;
}
.btn-check:focus+.btn-outline-light, .btn-outline-light:focus{
  box-shadow: none !important;
}
//===Clients====
.client-icons {
  margin: 10px !important;
  padding: 10px !important;
  opacity: 0.9 !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 10px !important;
  background-color: rgba($color: whitesmoke, $alpha: 0.2);
  box-shadow: 4px -4px 5px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 4px -4px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px -4px 5px 0px rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  img {
    width: 85%;
    height: auto;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .client-icons {
    margin: 10px !important;
  }
}

.client-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
}
.client-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}
//====Project Detail====//
.project-detail-section {
  position: relative !important;
  padding-top: 50px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}
.project-content {
  margin: 20px;
  padding: 10px 5px;
}
.project-item{
  padding: 15px 0px;
  margin: auto;
  // backdrop-filter: blur(1px);
  &.item-bg{
    box-shadow: 5px 1px 6px 1px rgba(255,255,255,0.79);
    -webkit-box-shadow: 5px 1px 6px 1px rgba(255,255,255,0.79);
    -moz-box-shadow: 5px 1px 6px 1px rgba(255,255,255,0.79);
    background: linear-gradient(213deg, rgba(255,255,255,0.4) 0%, rgba(100,99,101,0.3) 100%);
    backdrop-filter: blur(2px);
    border-radius:2em;
  }
  img {
    transition: all 0.5s ease 0s !important;
    &:hover {
      transform: scale(1.02) !important;
      overflow: hidden !important;
    }
  }
}